* {
    margin: 0 auto;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* BLOQUE PADRE */
.container {
    width: 100%;
    max-width: 768px;
    height: 656px; /* Dar más espacios para versiones móviles */
    margin: 0px auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.subtitle {
    font-size: 17px;
    margin-top: 8px;
}

/* LEYENDA */
.legend {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    flex-wrap: wrap;
}

.legend--item {
    position: relative;
    display: flex;
    align-items: center;
    height: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 10px;
    padding-left: 18px;
    margin-right: 16px;
    margin-top: 8px;
}

.legend--item::before {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.legend--item.cuarta_revolucion_industrial:before {
    background-color: #FFB81C;
}

.legend--item.envejecimiento:before {
    background-color: #FF5200;
}

.legend--item.cambio_climatico:before {
    background-color: #80bd00;
}

.legend--item.diversidad:before {
    background-color: #612e4f;
}

.legend--item.covid19:before {
    background-color: #0099de;
}

/* MAPA */
.map {
    width: 100%;
    max-width: 440px;
    height: auto;
    margin: 12px auto 0px auto;

    position: relative;
}

.map .country-yes {
    cursor: pointer;
}

.source {
    font-size: 16px;
    margin-top: 12px;
}

.source span {
    font-weight: 700;
}

/* TOOLTIP */
.chart__tooltip {
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 290px;
    height: auto;
    max-height: 232px;
    background-color: #f2f2f2;

    /* Este elemento se modifica de forma dinámica desde JS */
    opacity: 0;
    z-index: -1;
}

/* Estados */
.chart__tooltip.visible {
    opacity: 1;
    z-index: 1;
    transition: opacity 1s ease-in;
}

.chart__tooltip--close {
    position: absolute;
    top: 0;
    right: 0%;
    transform: translate(50%,-50%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #6e6e6e;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.chart__tooltip .chart__tooltip--close {
    pointer-events: none;
}

.chart__tooltip.visible .chart__tooltip--close {
    pointer-events: all;
}

.chart__tooltip--close img {
    max-width: 100%;
    height: auto;

    pointer-events: none;
    outline: none;
}

/* Contenido */
.chart__tooltip--content {
    padding: 0px 8px 8px 8px;
    margin: 16px 0px 0px 0px;
    height: auto;
    max-height: 200px;
    overflow-y: auto;
}

.chart__tooltip--content a {
    font-size: 14px;
    font-weight: 400;
}

/* Textos */
.chart__tooltip--b_title {
    display: flex;
    justify-content: flex-start;
}

.chart__tooltip--title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #262626;
    text-decoration: underline;

    margin-right: 12px;
}

.chart__tooltip--b_types {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.chart__tooltip--type {
    width: 15px;
    height: 15px;
    border-radius: 50%;

    margin-right: 6px;
}

.chart__tooltip--type.cuarta_revolucion_industrial {
    background-color: #ffb81c;
}

.chart__tooltip--type.envejecimiento {
    background-color: #FF5200;
}

.chart__tooltip--type.cambio_climatico {
    background-color: #80bd00;
}

.chart__tooltip--type.diversidad {
    background-color: #612e4f;
}

.chart__tooltip--type.covid19 {
    background-color: #0099de;
}

.chart__tooltip_b-text {
    margin-top: 12px;
}

.chart__tooltip--text {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    color: #262626;

    margin-top: 4px;
}

.chart__tooltip--text a {
    font-weight: 300;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 7.5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #262626; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #262626; 
}